html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 200px;
    height: 200px;
    background-color: orange;

}

.my-grid {
    display: grid;
    grid-template-columns: repeat(2, 10%);
    grid-template-rows:  1fr 1fr;
}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}
